In [1]:
####Importing Pandas and Loading the CSV, turn into DataFrame, and view the data

import pandas as pd
air_data = pd.read_csv('AirQuality_Daily.csv')

#convert to dataframe
air_data = pd.DataFrame(air_data)

#view the data
air_data.head(5)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.1800,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.1625,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.4375,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.4750,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook

In [2]:
####Task 1 - What are the 5 locations in Nebraska with the highest mean and median concentrations of VOC, PM 2.5 and PM 10.0?

#creating a group by sensor.name and finding stat summary for mean and median
air_data_voc = air_data.groupby(['sensor.name']).agg(
                                                     mean = ('voc','mean'),
                                                     median = ('voc','median'))
air_data_pm25 = air_data.groupby(['sensor.name']).agg(
                                                     mean = ('pm2.5_atm','mean'),
                                                     median = ('pm2.5_atm','median'))
air_data_pm10 = air_data.groupby(['sensor.name']).agg(
                                                     mean = ('pm10.0_atm','mean'),
                                                     median = ('pm10.0_atm','median'))


#find the top 5 median and mean for each pollutant                                  
top5_voc_combined = air_data_voc.sort_values(
    by=['mean', 'median'],
    ascending=[False, False]
).head(5)

top5_pm25_combined = air_data_pm25.sort_values(
    by=['mean', 'median'],
    ascending=[False, False]
).head(5)

top5_pm10_combined = air_data_pm10.sort_values(
    by=['mean', 'median'],
    ascending=[False, False]
).head(5)


#print the tables
top5_voc_combined

                                             mean      median
sensor.name
Swnphd-ogallala                        399.434240  423.082292
FCHD-YPS                               372.462720  375.383500
Three Rivers Public Health Department  370.216208  376.810167
ELVPHD Norfolk HD 4                    360.833744  368.580500
Swnphd-mccook                          353.941581  381.468479

In [3]:
top5_pm25_combined

                                                          mean     median
sensor.name
Broken Bow                                          928.710593  36.050240
#16 - Richardson County Courthouse                  700.127342  11.977344
#18 - Southeast District Health Department- Tec...  613.175352  10.322875
NCDHD O'Neill #11                                   164.495078   7.251208
Swnphd-mccook                                       123.011622   4.582281

In [4]:
top5_pm10_combined

                                                          mean     median
sensor.name
Broken Bow                                          929.678512  43.179094
#16 - Richardson County Courthouse                  701.632446  13.305615
#18 - Southeast District Health Department- Tec...  614.227248  11.433729
NCDHD O'Neill #11                                   166.132578   8.427437
Swnphd-mccook                                       124.227336   5.372073

In [5]:
####Task 2 - On what days did the maximum values occur and where did this maximums occur? And potential reasons? 

#find the max value of each pollutant
voc_max = air_data.agg(max = ('voc', 'max')).iloc[0,0]
pm25_max = air_data.agg(max = ('pm2.5_atm', 'max')).iloc[0,0]
pm10_max = air_data.agg(max = ('pm10.0_atm', 'max')).iloc[0,0]

#filter the data for max, date, and locations 
voc_max_row = air_data[air_data['voc'] == voc_max]
pm25_max_row = air_data[air_data['pm2.5_atm'] == pm25_max]
pm10_max_row = air_data[air_data['pm10.0_atm'] == pm10_max]

# the maximums with date and location 
voc_max_row

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
2391,06/24/24,195541,9.883429,897.678857,116.455286,1209.931571,0.010429,1.642857,1.066643,1.408286,1.799071,41.128284,-101.72022,3220,Swnphd-ogallala

In [6]:
pm25_max_row

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
7561,02/18/25,195317,NaN,NaN,NaN,NaN,0.07,1.7125,3781.691896,3782.823313,3784.682542,40.0622,-95.6024,1023,#16 - Richardson County Courthouse

In [16]:
pm10_max_row

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
7561,02/18/25,195317,NaN,NaN,NaN,NaN,0.07,1.7125,3781.691896,3782.823313,3784.682542,40.0622,-95.6024,1023,#16 - Richardson County Courthouse

In [7]:
####Task 3 - Does humidity and temperature have a noticeable effect on air quality?

#Create temperature categories based on the tables 
def assign_temperature(temperature):
    if temperature < 32: 
        return 'Below Freezing'
    elif 32 <= temperature <= 50:
        return 'Cool'
    elif 50 < temperature <= 70:
        return 'Warm'
    else:
        return 'Hot' #this line means that if temperature is >70 it is Hot 

#Apply temperature function to the temperature column in air_data
air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature) 

#Create hmidity categories based on humidity levels
def assign_humidity(humidity):
    if humidity < 50: 
        return 'Low'
    elif 50 <= humidity <= 80:
        return 'High'
    else:
        return 'Very High' 

#Apply humidity function to the temperature column in air_data
air_data['humidity_level'] = air_data['humidity'].apply(assign_humidity) 
        
#Determine if temperature has an effect on air quality by making a pivot table 
mean_values_temperature = pd.pivot_table(
    air_data,
    index='temperature_level',
    values=["voc","pm2.5_atm","pm10.0_atm"],
    aggfunc=['mean']).sort_index()

#Determine if humidity has an effect on air quality by making a pivot table 
mean_values_humidity = pd.pivot_table(
    air_data,
    index='humidity_level',
    values=["voc","pm2.5_atm","pm10.0_atm"],
    aggfunc=['mean']).sort_index()


#Choose which variable to look at by running that pivot table
mean_values_temperature

                         mean
                   pm10.0_atm   pm2.5_atm         voc
temperature_level
Below Freezing     276.080794  273.698560  257.628626
Cool               143.074475  141.658843  285.435146
Hot                 71.821037   70.145543  282.145818
Warm                87.428866   86.506629  257.015827

In [8]:
mean_values_humidity

                      mean
                pm10.0_atm   pm2.5_atm         voc
humidity_level
High             82.561133   80.874444  252.664069
Low              77.880520   76.513935  279.329347
Very High       536.520850  533.786399   19.395555

In [15]:
####Task 4 - AQI health risks? And when? 
#Unhealthy for sensitive groups @ pm2.5 35.5 - 55.4 
#Unhealthy for sensitibe groups @ pm10.0 155 - 254

#filter data for specific ranges
unhealthy_pm25 = air_data[(air_data['pm2.5_atm']>=35.5) & (air_data['pm2.5_atm']<=55.4)]
unhealthy_pm10 = air_data[(air_data['pm2.5_atm']>=155) & (air_data['pm2.5_atm']<=254)]

#sort by date and sensor name 
unhealthy_pm25 = unhealthy_pm25[
    ['date','sensor.name','pm2.5_atm']
    ].sort_values('date')
unhealthy_pm10 = unhealthy_pm10[
    ['date','sensor.name','pm10.0_atm']
    ].sort_values('date')

#print to see dates and location
unhealthy_pm25

          date                                        sensor.name  pm2.5_atm
6730  01/09/25  South Heartland District Health Dept. Superior...  39.975313
6721  01/09/25                               PHS Fairbury JCHL 13  41.249042
6720  01/09/25                                  #17 - Otoe County  35.746292
7304  02/06/25                           Buffalo County TRPHD #26  39.639000
7511  02/15/25  South Heartland District Health Dept. Superior...  38.148875
...        ...                                                ...        ...
4149  09/06/24                                   Swnphd-Benklemen  36.178104
4705  09/30/24                                         Broken Bow  45.125437
6407  12/24/24              Three Rivers Public Health Department  42.264313
6394  12/24/24                                 ELVPHD Wisner HD 5  38.338104
6414  12/25/24                                 ELVPHD Wisner HD 5  37.428542

[118 rows x 3 columns]

In [10]:
unhealthy_pm10

          date                          sensor.name  pm10.0_atm
2144  06/14/24  Loup Basin Public Health Department  231.757021
2443  06/27/24                     Swnphd-Benklemen  188.977500
6076  12/08/24   #16 - Richardson County Courthouse  200.798396

In [11]:
####Task 5 - Does the sensor altitude have an impact on the air quality values?
#Create a pivot table to view the mean for each pollutant at each altitude
mean_values = pd.pivot_table(
    air_data,
    index='sensor.altitude',
    values=["voc","pm2.5_atm","pm10.0_atm"],
    aggfunc=['mean']).sort_index()

mean_values

                       mean
                 pm10.0_atm   pm2.5_atm         voc
sensor.altitude
1023             701.632446  700.127342   86.758650
1033              10.683828    9.482822  221.091595
1055              11.671141    9.755345  251.427296
1143             614.227248  613.175352  196.150771
1188              11.226492    9.601760  370.216208
1385              14.462116   11.154420  102.291126
1438              11.132398    9.405360  275.879657
1522              15.969341   13.369492  360.833744
1537              10.254001    8.635639  130.631408
1597               9.851113    8.851045  178.745074
1639              11.138241    9.167842  372.462720
1810               9.365581    8.041274  227.439379
1920               9.852555    8.915233  305.385314
1984               8.944145    7.927510  209.876608
1990             166.132578  164.495078  283.633000
2147               9.596038    8.479442  328.835391
2174              10.454420    8.561095  352.833902
2392              19.548148   18.080629  311.912841
2519              12.390708   10.697058  219.200274
2576             124.227336  123.011622  353.941581
2582             929.678512  928.710593  158.285807
2800               4.817597    3.971512  168.480056
2850               7.509269    6.219710  260.536134
3005               9.041440    7.501374  336.400969
3220              11.347889   10.396579  399.434240
3269               7.281414    6.329091  285.456355
3661               7.712941    6.658474  258.691175